:host {
  display: block;
  display: inherit;
  width: 100%;
  height: 30px;
  min-width: 0;
  // color: $c-text;
  // border: 1px solid $c-bgDarker;
  padding: 0 5px;
  line-height: 20px;
  background: transparent;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  &:focus {
    // border-color: $c-textLink;
    border-color: pink; // TODO: delete after the tests
  }

  &:disabled,
  &.disabled {
    // color: $c-textLightest;
    // background-color: $c-bgLighter;
    background-color: yellow; // TODO: delete after the tests
    // border-color: $c-bgLight;
    cursor: not-allowed;
  }
}
